/* FONTS */

/* ROOT */
:root {
	/* colors */
	--color-primary: #000;
	--color-secondary: #fff;
	/* backgrounds */
	--bg-primary: #fff;
	--bg-secondary: #fff;
	/* fonts */
	--font-primary: 'Public Sans', sans-serif;
	--font-weight: 400;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: var(--font-primary);
	font-weight: var(--font-weight);
}

main {
	flex-grow: 1;
}

.container {
	width: 100%;
	max-width: 1141px;
	margin: 0 auto;
	padding: 0 15px;
}

img {
	max-width: 100%;
	height: auto;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	background-color: transparent;
}

/* HEADER START */
.site-header {
	padding-top: 64px;
	padding-bottom: 54px;
}

.site-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-header__nav-list {
	display: flex;
	gap: 42px;
}

.site-header__nav-link {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2px;
	color: #33323d;
}

.site-header__nav-link:hover {
	color: #5fb4a2;
}
/* HEADER END */
